@import "./../theme/sass/_variables.scss";

footer {
  position: relative;
  background: $main-color;
  min-height: 60px;
  color: white;

  h4 {
    padding-top: 20px;
    padding-left: 70px;
  }

  li {
    list-style-type: none;
    display: inline-block;
    padding-top: 20px;
    padding-right: 16px;
  }

  i {
    font-size: 1.5em;
  }
}
