@import "./../theme/sass/_variables.scss";

footer {
  position: relative;
  background: #1c1c1c;
  min-height: 60px;
  color: white;

  h4 {
    padding-top: 20px;
    padding-left: 70px;
  }

  ul {
    text-align: right;
  }

  li {
    list-style-type: none;
    display: inline-block;
    padding-top: 20px;
    padding-right: 16px;
  }

  i {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 786px) {
  footer {
    h4 {
      margin-right: 80px;
    }
    h4, ul {
        text-align: center;
    }
  }
}