<section class="m-2 special-travels">
  <div class="row">
   
      <div class="col-12">

        <h1 class="text-center text-dark pb-4">Pacotes épicos</h1>

        <div class="row">
          <div class="col-lg-4 col-md-12 col-xs-12">

            <div class="card wow slideInLeft">
              <img class="card-img-top" src="assets/img/home-travels/hobbiton.jpg" alt="Hobbiton">
              <div class="card-block">
                <div class="dark-overlay">
                  <h2 class="pt-3 text-white text-center">Senhor dos Anéis</h2>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-12 col-xs-12">
            <div class="card wow bounceInDown">
              <img class="card-img-top" src="assets/img/home-travels/got_ilha_de_gozo.jpg" alt="GoT">
              <div class="card-block">
                <div class="dark-overlay">
                  <h2 class="pt-3 text-white text-center">Game of Thrones</h2>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-12 col-xs-12">
            <div class="card wow slideInRight">
              <img class="card-img-top" src="assets/img/home-travels/harry_potter_colegio.jpg" alt="HP">
              <div class="card-block">
                <div class="dark-overlay">
                  <h2 class="pt-3 text-white text-center">Harry Potter</h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center mt-3">
            <button class="btn btn-lg btn-all-travels" routerLink="/pages/travels/all">Todos os roteiros</button>
          </div>

      </div>


   
  </div>
</section>
