@import './../theme/sass/_variables.scss';
@import './../theme/sass/_mixins.scss';
@import './../theme/sass/_placeholders.scss';

.why-arda {
  background: url('./../../../assets/teste.jpg');
  @extend %bg-parallax;
  position: relative;
  min-height: 800px;
  text-align: center;
  color: #333;

  .dark-overlay {
    @extend %dark-overlay;
    @include dark-overlay-size(100%, 100%);
  }
}

.container {
  margin-top: 05%;
}

.reason {
  background: #fff none repeat scroll 0 0;
  height: 300px;
  padding: 20px;
  margin-top: 60px;
  display: inline-block;

  .icon {
    position: relative;
    top: -60px;
    color: white;
    padding: 20px 40px;

    i {
      @include icon(100px, $main-color, 60px, 60px, 30px, absolute, 60px, center, 0);
      margin: 0px -25px auto;
    }
  }
}

@media only screen and (max-width: 960px) {
  .why-arda {
    min-height: 1600px;
  }
}
