<section class="p-5 why-arda">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container">

          <h1 class="mt-4">Por que escolher a Arda?</h1>

          <div class="row">
            <div class="col-lg-4 col-sm-12 col-xs-12">
              <div class="reason wow bounceIn" data-wow-delay="150ms">
                <div class="icon"><i class="fa fa-lock"></i></div>
                <h5 class="font-weight-bold reason-title">Segurança</h5>
                <p class="reason-description">Nós nos preocupamos com a segurança desde do início da compra ao final da sua experiência</p>
              </div>
            </div>

            <div class="col-lg-4 col-sm-12 col-xs-12">
              <div class="reason wow bounceIn" data-wow-delay="340ms">
                <div class="icon"><i class="fa fa-heart"></i></div>
                <h5 class="font-weight-bold reason-title">Conforto</h5>
                <p class="reason-description">Nós possuímos toda a tecnologia necessária para acompanhar a sua viagem desde do início</p>
              </div>
            </div>

            <div class="col-lg-4 col-sm-12 col-xs-12">
              <div class="reason wow bounceIn" data-wow-delay="490ms">
                <div class="icon"><i class="fa fa-handshake-o"></i></div>
                <h5 class="font-weight-bold reason-title">Fidelidade</h5>
                <p class="reason-description">Nós nos dispomos a oferecer outras viagens com condições incríveis para clientes que já viajaram conosco</p>
              </div>
            </div>

            <div class="container">
              <h1 class="mt-5 text-center wow slideInRight">Você está preparado para essa experiência?</h1>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>
