<header class="home-section">
  <div class="dark-overlay">
    <div class="home-inner">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="text-center text-white animated fadeIn">A experiência da sua obra <strong><span>cinematográfica favorita</span></strong></h1>
            <p class="text-center text-white animated bounceInRight">
              Viaje para cenários reais que foram utilizados como local de filmagem para filmes ou séries que você sempre sonhou
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

