@import './../theme/sass/_variables.scss';
@import './../theme/sass/_placeholders.scss';

.home-section{
  background: url('./../../../assets/teste_parallax.jpg');
  @extend %bg-parallax;
  min-height: $full-height-vh;

  .dark-overlay{
    @extend %dark-overlay;
    @include dark-overlay-size($full-width-vw, $full-height-vh);
  }

  .home-inner{
    padding-top: 20%;
  }
}



