<section class="arda_services">

    <div class="container">

      <h1 class="text-center pb-5 wow fadeInUp black-text">Serviços da Arda</h1>

      <div class="row text-center">
        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="service wow slideInLeft" data-wow-delay="180ms">
            <div class="icon"><i class="fa fa-bed"></i></div>
            <h5 class="service-title">Hospedagem</h5>
            <p class="service-description display-6">Conforte-se em lugares <strong>aconchegantes</strong> e <strong>temáticos</strong></p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="service wow bounceInDown" data-wow-delay="290ms">
            <div class="icon"><i class="fa fa-plane"></i></div>
            <h5 class="service-title">Transporte</h5>
            <p class="service-description">Viaje com <strong>segurança</strong> e <strong>preços atrativos</strong> com as melhores companhias áreas </p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12" data-wow-delay="180ms">
          <div class="service wow slideInRight">
            <div class="icon"><i class="fa fa-ticket"></i></div>
            <h5 class="service-title">Check-in ágil</h5>
            <p class="service-description">Realize o check-in de <strong>forma prática e ágil</strong></p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12" data-wow-delay="180ms">
          <div class="service wow slideInLeft">
            <div class="icon"><i class="fa fa-map"></i></div>
            <h5 class="service-title">Roteiro</h5>
            <p class="service-description">Vivencie a sua experiência com um <strong>plano de viagem incrível</strong> e <strong>diferenciado</strong></p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12" data-wow-delay="290ms">
          <div class="service wow bounceInUp" data-wow-delay="250ms">
            <div class="icon"><i class="fa fa-map-signs"></i></div>
            <h5 class="service-title">Guia turístico</h5>
            <p class="service-description">Explore os <strong>lugares épicos</strong> com guias experientes</p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12" data-wow-delay="180ms">
          <div class="service wow slideInRight">
            <div class="icon"><i class="fa fa-users"></i></div>
            <h5 class="service-title">Comunicação</h5>
            <p class="service-description">Acompanhe em <strong>tempo real</strong> todo o andamento da sua aventura</p>
          </div>
        </div>

      </div>
    </div>
  </section>
