<section id="travel-register">
  <div class="container">


    <section>
      <div class="row">
        <div class="col-12">
          <h4>Cadastro de Roteiro</h4>

          <div class="row">
            <div class="col-md-3 col-xs-12">
              <div class="form-group">
                <label for="exampleInputEmail1">Nome</label>
                <input type="text" class="form-control" formControlName="mesExpiracao" placeholder="Nome do roteiro">
              </div>
            </div>

            <div class="col-md-3 col-xs-12">
              <div class="form-group">
                <label for="exampleInputEmail1">Custo</label>
                <input type="text" class="form-control" formControlName="mesExpiracao" placeholder="Custo">
              </div>
            </div>

            <div class="col-md-3 col-xs-12">
              <div class="form-group">
                <label for="exampleInputEmail1">Preço</label>
                <input type="text" class="form-control" formControlName="mesExpiracao" placeholder="Preço">
              </div>
            </div>

            <div class="col-md-3 col-xs-12">
              <div class="form-group">
                <label for="exampleInputEmail1">Duração</label>
                <input type="text" class="form-control" formControlName="mesExpiracao" placeholder="Duração do roteiro">
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="mt-3">
      <div class="row">
        <div class="col-12">
          <h5>Informações que aparecerão no Card da Sessão de Roteiros</h5>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Título</label>
                <input type="text" class="form-control" formControlName="mesExpiracao" placeholder="Título">
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Endereço da imagem</label>
                <input type="text" class="form-control" formControlName="mesExpiracao" placeholder="Endereço da imagem">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mt-3">
      <div class="row">
        <div class="col-12">
          <h5>Informações que aparecerão na Página de Detalhes do Roteiro</h5>
            <div class="row">

              <div class="col-4">
                  <div class="form-group">
                      <label for="exampleInputEmail1">Título</label>
                      <input type="text" class="form-control" formControlName="mesExpiracao" placeholder="Título">
                    </div>
              </div>

              <div class="col-4">
                  <div class="form-group">
                      <label for="exampleInputEmail1">Avaliação</label>
                      <input type="text" class="form-control" formControlName="mesExpiracao" placeholder="Avaliação">
                    </div>
              </div>

              <div class="col-4">
                  <div class="form-group">
                      <label for="exampleInputEmail1">Endereço da imagem</label>
                      <input type="text" class="form-control" formControlName="mesExpiracao" placeholder="Endereço da imagem">
                    </div>
              </div>

              <div class="col-3">
                  <div class="form-group">
                      <label for="exampleInputEmail1">Clima</label>
                      <input type="text" class="form-control" formControlName="mesExpiracao" placeholder="Clima">
                    </div>
              </div>

              <div class="col-3">
                  <div class="form-group">
                      <label for="exampleInputEmail1">Fuso Horário</label>
                      <input type="text" class="form-control" formControlName="mesExpiracao" placeholder="Fuso horário">
                    </div>
              </div>

              <div class="col-3">
                  <div class="form-group">
                      <label for="exampleInputEmail1">Moeda local</label>
                      <input type="text" class="form-control" formControlName="mesExpiracao" placeholder="Moeda local">
                    </div>
              </div>

              <div class="col-3">
                  <div class="form-group">
                      <label for="exampleInputEmail1">Idioma</label>
                      <input type="text" class="form-control" formControlName="mesExpiracao" placeholder="Idioma">
                    </div>
              </div>

          
            </div>

           
        
        </div>
      </div>
    </section>


    <section class="mt-3">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-register btn-block">Cadastrar roteiro</button>
            </div>

            <div class="col-6">
                <button class="btn btn-secondary btn-block" routerLink="/pages/admin/dashboard">Voltar</button>
              </div>
          </div>
        </div>
      </div>
    </section>




  </div>
</section>
