@import "./../theme/sass/_variables.scss";
@import "./../theme/sass/_mixins.scss";
@import "./../theme/sass/_placeholders.scss";

h1 {
  font-size: 32px;
  color: #333 !important;
  padding-top: 30px;
}

.contact-us {
  min-height: 450px;
  color: #333;
  margin-top: 5%;
}

.contact-info {
  width: 100%;
  height: 100%;
  padding-right: none;
  padding-left: none;


  .icon {
    position: relative;
    top: -20px;
    color: white;
    padding: 13px 50px 40px 90px;
  }

  i {
    @include icon(100px, $main-color, 60px, 60px, 30px, absolute, 60px, center, 0);
    margin: 0px -60px auto;
    box-shadow: 4px 4px 20px -4px rgba(0, 0, 0, 0.4);
    font-size: 18px;
    color: white !important;
    height: 45px;
    line-height: 45px;
    margin-right: 20px;
    text-align: center;
    width: 45px;
  }

  li {
    list-style-type: none;
    padding: 8px;
    font-size: 18px;
    color: #333 !important;
  }
}

.contact-form {
  background: white;
  height: 500px;
  padding: 40px;

  .btn-contact-bg {
    @extend %main-button;
    width: 100%;
  }
}


