<section id="admin">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4>Dashboard de adminstração</h4>
        <div class="row">
          <div class="col-lg-4 col-sm-12 mt-2">
            <div class="card">
              <img class="card-img-top" src="/assets/img/clients.jpg" alt="Card image cap" style="height: 300px;">
              <div class="card-body">
                <h4 class="card-title text-center">Consulta de Clientes</h4>
                <p class="card-text text-center">Consulte informações de clientes cadastrados e altere informações</p>
                <button class="btn btn-dashboard btn-block" routerLink="/pages/admin/all-users">Consultar</button>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-12 mt-2">
            <div class="card">
              <img class="card-img-top" src="/assets/img/orders.jpg" alt="Card image cap" style="height: 300px;">
              <div class="card-body">
                <h4 class="card-title text-center">Consulta de Pedidos</h4>
                <p class="card-text text-center">Acompanhe os pedidos em tempo real, tome decisões e crie estratégias</p>
                <button class="btn btn-dashboard btn-block" routerLink="/pages/admin/all-orders">Consultar</button>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-12 mt-2">
              <div class="card">
                <img class="card-img-top" src="/assets/img/travel-register.jpg" alt="Card image cap" style="height: 300px;">
                <div class="card-body">
                  <h4 class="card-title text-center">Cadastro de Roteiro</h4>
                  <p class="card-text text-center">Cadastre roteiros a fim de conquistar novos clientes</p>
                  <button class="btn btn-dashboard btn-block" routerLink="/pages/admin/travel-register">Cadastrar</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
