@import "./../theme/sass/_variables.scss";
@import "./../theme/sass/_mixins.scss";

@font-face {
  font-family: "Stackyard_PERSONAL_USE";
  src: url('/assets/fonts/Stackyard_PERSONAL_USE.ttf');
}

.navbar {
  // border-bottom: #1c1c1c 2px solid;
  background-color: white;

  .navbar-brand {
    img {
      width: 10%;
      height: auto;
    }
    span {
      font-family: "Stackyard_PERSONAL_USE";
    }
  }

 .nav-item.active {
    .nav-link {
      color: $main-color;
    }
  }

  .nav-link {
    color: #1c1c1c;
    font-size: 19px;
    padding-left: 1em;
    padding-right: 1em;

    &:hover {
      color: $main-color;
      text-decoration: underline;
    }
  }
}
