<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <div class="container">
    <a routerLink="/pages/home" class="navbar-brand">
      <span class="">ArdaExperience</span>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a href="#" class="nav-link" routerLink="/pages/home">HOME</a>
        </li>
        <!-- <li class="nav-item">
          <a href="#" class="nav-link" routerLink="/pages/home">SERVIÇOS</a>
        </li> -->
        <li class="nav-item">
          <a href="#" class="nav-link" routerLink="/pages/travels/all">ROTEIROS</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" routerLink="/pages/contact">CONTATO</a>
        </li>
        <li class="nav-item">
          <a href="#" class="font-weight-bold nav-link" routerLink="/pages/admin/dashboard">LOGIN</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
