<section class="home-travels mt-5">

  <h1 class="text-center text-dark pb-5">Galeria de imagens</h1>
  <div class="row">
    <div class="col-lg-3 col-md-12 col-xs-12">
      <img src="assets/img/home-travels/hobbiton.jpg" alt="">
    </div>

    <div class="col-lg-3 col-md-12 col-xs-12">
      <img src="assets/img/home-travels/ilha_phi_phi.jpg" alt="">
    </div>

    <div class="col-lg-3 col-md-12 col-xs-12">
      <img src="assets/img/home-travels/vikings.jpg" alt="">
    </div>

    <div class="col-lg-3 col-md-12 col-xs-12">
      <img src="assets/img/home-travels/interestelar.jpg" alt="">
    </div>
  </div>

  <div class="row">

    <div class="col-lg-3 col-md-12 col-xs-12">
      <img src="assets/img/home-travels/got_dubrovnik.jpg" alt="">
    </div>

    <div class="col-lg-3 col-md-12 col-xs-12">
      <img src="assets/img/home-travels/got_ilha_de_gozo.jpg" alt="">
    </div>

    <div class="col-lg-3 col-md-12 col-xs-12">
      <img src="assets/img/home-travels/star_wars_deserto_rub.jpg" alt="">
    </div>

    <div class="col-lg-3 col-md-12 col-xs-12">
      <img src="assets/img/home-travels/harry_potter_colegio.jpg" alt="">
    </div>
  </div>

</section>
